* {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  margin: 0;
}

.nav-header {
  height: fit-content;
  background-color: #BAB7B7;
  display: flex;
  justify-content: center;
}

.ul-sections {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

ul.ul-sections li {
  color: black;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

ul.ul-sections li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.logo {
  height: 12vh;
  mix-blend-mode: multiply;
}

/* Fin del header */
.banner {
  width: 100%;
  height: 200px;
  background-color: #E8A590;
  margin: 0;
}

/* Banner */
.section-banner {
  background-color: #E8A590;
  margin: 0;
}
/* Fin del banner */

/* Seccion nosotros */
.section-nosotros {
  display: flex;
  align-items: center;
  background-color: #E8A590;
  justify-content: center;
  margin: 0;
  padding:1.5rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4)); /* Borde difuminado */
}
.nosotros-content{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.respotera-img {
  width: 30vh;
}
.nosotros-history{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-family: "Raleway", sans-serif;
  height: 25rem;
}
.nosotros-title {
  font-size: 1.5rem;
  color: #6D4A3F;
  font-weight: 300;
}
/* Fin de seccion nosotros */

/* Seccion trabajos */
.section-trabajos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: #8B3E3E;
  
}
.trabajos-imgs {
  width: 60%;
  margin: 0 ;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  grid-gap: 2rem; /* Espacio entre celdas */
}
.trabajos-imgs img {
  width: 16rem;
  border-radius: 2rem;
}
.title-trabajos {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding:1.5rem;
  font-size:1.5rem;
  color: #E8A590;
}
/* Fin de seccion trabajos */