* {
  margin: 0;
  padding: 0;
}
/* Header */
header{
  margin: 0;
}
.nav-header{
  height: fit-content;
  background-color: #BAB7B7;
  display: flex;
  justify-content: center;
}
.ul-sections {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
ul.ul-sections li {
  color: black;
  font-family: "Raleway", sans-serif;
  list-style: none;
}
ul.ul-sections li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.logo{
  height: 12vh;
  mix-blend-mode: multiply;
}
/* Fin del header */
.banner {
  width: 100%;
  height: 200px;
  background-color: #E8A590;
}
/* Banner */


